@import "node_modules/flexboxgrid/dist/flexboxgrid";
@import "node_modules/normalize-css/normalize";

@import "utility/variables";
@import "utility/grid";

@import "blocks/about";
@import "blocks/contact";
@import "blocks/footer";
@import "blocks/header";
@import "blocks/logo";
@import "blocks/people";
@import "blocks/person";
@import "blocks/section-more";
@import "blocks/slider";
@import "blocks/image-box";
@import "blocks/post";

@import "font/roboto";

body {
	background: #fff;
	font-family: 'Roboto', sans-serif;
}
* {
	box-sizing: border-box;
}
