.people {
	text-align: center;
	background-color: $third-color;

	&__wrapper {
		padding-top: 50px;
	}

	&__nav {
		margin-top: 40px;
		padding-bottom: 35px;
	}

	&__nav-button {
		background-color: #69D2E7;
		border: 2px solid white;
		border-radius: 50%;
		width: 20px;
		height: 20px;
		box-shadow: 0px 0px 5px 0px rgba(56,56,56,0.3);
		margin: 0 7px;

		&:hover {
			background-color: $third-color;

		}
	}


}
